.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 8px 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion {
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.accordion:first-of-type {
  margin-top: 12px;
}

.accordion + .accordion {
  border-top: none;
}

.accordion__title {
  display: inline-block;
  max-width: 100%;
  min-height: 1.2rem;
  margin: 0;
  word-break: break-word;
  font-family: "Yantramanav", sans-serif !important;
  font-size: 11px !important;
  font-weight: 400 !important;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #000000;
}


.accordion-plus-icon {
  align-self: center;
  transition: transform 0.2s ease;
}

.accordion details[open] > summary .accordion-plus-icon {
  transform: rotate(45deg);
}

.accordion__content {
  margin-bottom: 1rem;
  word-break: break-word;
  overflow-x: auto;
  padding: 0 0.6rem;
}

.accordion__content img {
  max-width: 100%;
}
